@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

WordPress Theme

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2018

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #191919;
$secondary_color: #ffeb00;
$background: #e2e2e0;
$border: #606060;

$max_width: 1100px;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
	font-family: 'Geomanist Regular';
	src: url(fonts/Geomanist-Regular.otf);
}

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Geomanist Regular';
		size: 20px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Geomanist Regular';
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

.row {
	max-width: $max_width;
}

/* ---------- Template ---------- */

/* Top */

.top_1 {
	padding: 10px 0;
	background-color: $background;
	.moduletable_to11 {
		font-size: 16px;
		letter-spacing: 2px;
		p {
			margin: 0;
		}
		#b {
			a {
				margin: 0 5px;
				display: inline-block;
			}
		}
		#c {
			.woocommerce-product-search {
				input[type=search] {
					width: 80%;
					height: inherit;
					margin: 0;
					padding: 5px;
					background-color: transparent;
					border: 0;
					border-radius: 0;
					box-shadow: none;
					font-size: 16px;
					float: left;
					position: relative;
					&::placeholder {
						color: $primary_color;
						letter-spacing: 2px;
						text-transform: uppercase;
					}
				}
				[type=submit] {
					width: 20%;
					height: 30px;
					background: {
						image: url(moduletable_to11_c_button_bg.png);
						position: center;
						repeat: no-repeat;
					}
					font-size: 0;
				}
			}
		}
	}
}

.top {
	background-color: $primary_color;
	.moduletable_to1 {
		padding-top: 30px;
		h1 {
			margin: 0;
			padding: 10px 0 20px 0;
			border-bottom: 1px solid $secondary_color;
			font: {
				size: 30px;
				weight: bold;
			}
			color: #fff;
			letter-spacing: 8px;
		}
	}
}

/* Banner */

.banner {
	.moduletable_ba1 {
		iframe {
			border: 0;
		}
	}
}

/* Content */

.content {
	padding: 30px 0;
	b,
	strong {
		color: $secondary_color;
	}
	a {
		&.button {
			background-color: $secondary_color;
			border-radius: 0;
			color: $primary_color;
			&.hollow {
				background-color: transparent;
				border-color: $secondary_color;
				color: $secondary_color;
			}
		}
	}
	input {
		border-radius: 0;
	}
	textarea {
		border-radius: 0;
	}
	.button {
		background-color: $secondary_color;
		border-radius: 0;
		color: $primary_color;
	}
	.asterisk {
		color: red;
	}
	iframe {
		border: 0;
	}
	nav.bellows {
		margin: 0;
		padding: 20px 15px;
		background: $background;
		box-shadow: none;
		ul.bellows-nav {
			li.bellows-menu-item {
				&.bellows-current-menu-item {
					a {
						background-color: $secondary_color !important;
					}
				}
				a.bellows-target {
					padding: 10px;
					border-bottom: 1px solid $border;
					font-size: 20px;
					color: $primary_color;
					&:hover {
						background-color: $secondary_color !important;
					}
				}
			}
		}
	}
	.woocommerce {
		h1.page-title {
			margin-bottom: 30px;
			padding-bottom: 10px;
			border-bottom: 1px solid $border;
			font-size: 20px;
			text-align: right;
		}
		ul.products {
			li.product {
				margin-bottom: 15px;
				a {
					text-align: center;
					img {
						width: auto;
						height: 240px;
						margin: auto;
						padding: 10px;
						border: 1px solid $border;
						display: block;
					}
					h2 {
						min-height: 110px;
						margin: 0;
						padding: 10px 20px !important;
						font-size: 20px;
						color: $primary_color;
						text-align: left;
					}
					span.price {
						margin: 0;
						padding: 0 20px 10px 20px;
						font: {
							size: 20px;
							weight: bold;
						}
						color: #a5a5a5;
						text-align: left;
					}
				}
				a.button {
					margin: 0;
					background-color: $secondary_color;
					color: $primary_color !important;
					text: {
						align: center;
						transform: uppercase;
					}
					display: block;
				}
			}
		}
		.product {
			h1.product_title {
				margin-bottom: 20px;
				font: {
					size: 28px;
					weight: bold;
				}
				text-align: right;
			}
			p.price {
				margin-bottom: 20px;
				font: {
					size: 48px;
					weight: bold;
				}
				color: #a5a5a5;
				text-align: right;
			}
			.whatsapp {
				strong {
					color: $primary_color;
				}
				a.button {
					background-color: #25d366;
					color: #fff;
					&:hover {
						background-color: #128c7e;
						color: #fff;
					}
				}
			}
			p.stock {
				display: none;
			}
			form.cart {
				float: right;
				position: relative;
			}
			.yith-ywraq-add-to-quote {
				display: none;
			}
		}
		a,
		button {
			&.button {
				background-color: $secondary_color;
				border-radius: 0;
				color: $primary_color;
				&:hover {
					background-color: $secondary_color;
					color: $primary_color;
				}
			}
		}
	}
	&.full-width {
		padding: 0 0 30px 0;
		.max {
			max-width: $max_width;
			margin: auto;
		}
	}
}

/* Block 1 */

.block_1 {
	padding: 60px 0;
	background-color: $primary_color;
	.moduletable_b11 {
		h3 {
			font: {
				size: 38px;
				weight: bold;
			}
			color: $border;
			letter-spacing: 3px;
		}
		h4 {
			font-size: 38px;
			color: $background;
			letter-spacing: 4px;
		}
		a {
			color: #fff;
		}
	}
}

/* Block 2 */

.block_2 {
	padding: 30px 0;
	background-color: $background;
	.moduletable_b21 {
		margin-bottom: 30px;
		&:last-child {
			margin-bottom: 0;
		}
		h3 {
			margin: 0;
			font-size: 20px;
			letter-spacing: 3px;
		}
		h4 {
			font-size: 20px;
			letter-spacing: 4px;
		}
		p {
			margin: 0;
		}
		a.hollow.button {
			width: 360px;
			margin: 0;
			padding: 10px;
			border-color: $primary_color;
			border-radius: 0;
			font-size: 24px;
			color: $primary_color;
		}
	}
}

/* Block 3 */

.block_3 {
	padding: 30px 0;
	background: {
		attachment: fixed;
		image: url(block_3_bg.png);
		position: center;
		repeat: no-repeat;
		size: cover;
	}
	.moduletable_b31 {
		h3 {
			margin-bottom: 30px;
			font-size: 28px;
			color: #fff;
		}
		.wpcf7-form {
			[type=text],
			[type=email],
			textarea {
				margin: 0;
				background-color: $background;
				border-radius: 0;
				letter-spacing: 2px;
				&::placeholder {
					color: $primary_color;
				}
			}
			.button {
				margin: 0;
				padding: 5px 30px;
				background-color: $secondary_color;
				border-radius: 0;
				font-size: 18px;
				color: $primary_color;
				letter-spacing: 3px;
			}
		}
	}
}

/* Block 4 */

.block_4 {
	padding: 30px 0;
	.moduletable_b41 {
		h3 {
			margin: 0;
			font-size: 20px;
			letter-spacing: 3px;
		}
		.insideframe {
			.top,
			.bottom {
				background-color: transparent;
			}
		}
	}
}

/* Block 5 */

.block_5 {
	padding-top: 30px;
	.moduletable_b51 {
		h3 {
			margin: 0;
			font-size: 20px;
			letter-spacing: 3px;
		}
		iframe {
			border: 0;
		}
	}
}

/* Bottom */

.bottom {
	padding: 30px 0;
	background-color: $primary_color;
	.moduletable_bo1 {
		font-size: 14px;
		color: #fff;
		letter-spacing: 3px;
		h3 {
			margin: 0;
			font-size: 20px;
			letter-spacing: 3px;
		}
		p {
			margin: 0;
		}
		ul {
			margin: 0;
			list-style: none;
		}
		a {
			color: #fff;
		}
		hr {
			border-bottom: 1px solid $secondary_color;
		}
	}
}

/* Copyright */

.copyright {
	padding: 15px 0;
	background-color: $background;
	font-size: 14px;
	letter-spacing: 2px;
	a {
		color: $primary_color;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {

	/* Top */

	.top_1 {
		.moduletable_to11 {
			.panel-grid-cell {
				margin-bottom: 0 !important;
				.so-panel {
					margin-bottom: 0 !important;
				}
			}
			#a,
			#b {
				display: none;
			}
		}
	}

	/* Block 2 */

	.block_2 {
		.moduletable_b21 {
			.snapwidget-widget {
				width: 100% !important;
				height: inherit !important;
			}
			a.hollow.button {
				width: 100%;
			}
		}
	}

}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}